<p id="notice"><%= notice %></p>

<p>
  <b>Exercise User ID:</b>
  <%= @activity.exercise_user_id %>
</p>

<p>
  <b>Description:</b>
  <%= @activity.description %>
</p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
